/* 
	Propiedades de texto
		Fuente
		Texto

	Unidades de medida en CSS
		Pixeles - medida fija
		Porcentajes - medida relativa
		Em - medidas relativas
*/

@font-face {
	font-family:'Area51';
	src: url('fonts/bebas.ttf'),
			 url('fonts/bebas.eot'),
			 url('fonts/bebas.svg'),
			 url('fonts/bebas.woff') 
}

@font-face {
	font-family:'Mi otra fuente';
	src: url('fonts/otra-fuente.ttf'),
			 url('fonts/otra-fuente.eot'),
			 url('fonts/otra-fuente.svg'),
			 url('fonts/otra-fuente.woff') 
}

body {
	font-size: 16px;
}


h1 {
	font-family: 'Area51', Verdana, 'Times New Roman', sans-serif;
}

#indieFlower {
	font-family: 'Indie Flower', cursive;
}

.bloque-fuentes p {
	font-family: 'Poppins';
	font-weight: 700;
	font-size: 2em; 
}

.bloque-texto p {
	font-family: Verdana;
	font-style: italic;
}

header#encabezado li {
	background: green;
}

/* Propiedades de CSS para el texto 

div.texto p {
	text-transform: uppercase;
	text-transform: lowercase;
	text-transform: capitalize;
}


div.texto p {
	text-decoration: none;
	text-decoration: underline;
	text-decoration: line-through;
	text-decoration: overline;
}


div.texto p {
	text-align: left;
	text-align: right;
	text-align: center;
	text-align: justify;

	text-indent: 50%;
}

*/

div.texto p {
	line-height: 30px;
}

/* CSS3 */

#logo {
	text-shadow: 2px 13px 10px green;
}

#pseudo-el:first-letter {
	font-size: 80px;
	color: orange;
}

#pseudo-el:first-line {
	color: blue;
}
